.btn {
	background: black;
	white-space: nowrap;
	padding: 10px 32px;
	color: #fff;
	font-size: 16px;
	outline: none;

	border-color: #f26a2e;
	min-width: 100px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s !important;
	border-radius: 50px;
}

@media screen and (max-width: 960px) {
	.btn {
		display: none;
	}
}

.btn:hover {
	background: #f26a2e;
	transform: translateY(-2px);
}
