.note-category-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.note-title {
	text-align: center;
}

.note-category-titles {
	text-align: center;
}

.note-category-navbar {
	text-decoration: none;
	cursor: pointer;
	color: black;
	font-size: small;
	border-radius: 20px;
	margin: 10px;
	border: 1px solid #ccc;
	text-align: center;
	width: 11rem;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.note-category-navbar:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search-notes {
	align-items: center;
}

.note-items {
	display: inline-block;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px #ccc;
	width: 200px;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.note-items:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
