.note-category-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.note-title {
	text-align: center;
}

.note-category-titles {
	text-align: center;
}

.note-category-navbar {
	text-decoration: none;
	cursor: pointer;
	color: black;
	font-size: small;
	border-radius: 20px;
	margin: 10px;
	border: 1px solid #ccc;
	text-align: center;
	width: 11rem;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.note-category-navbar:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.note-searchbar {
	text-align: center;
}

input[type="search"]:hover {
	background: white;
	transform: translateY(0px);
}

input[type="search"] {
	border-radius: 20px;
	height: 3.5rem;
	width: 50rem;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 3px 3px 7px black;
	background-color: white;
	border-color: black;
	text-align: center;
	font-size: medium;
	color: black;
}

input[type="search"]:focus {
	border-radius: 20px;
	background-color: white;
	border-color: white;
	text-align: left;
	padding-left: 20px;
	box-shadow: 3px 3px 7px black;
	font-size: medium;
	outline: none;
	color: black;
}

.note-items {
	display: inline-block;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px #ccc;
	width: 200px;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.note-items:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 768px) {
	input[type="search"] {
		border-radius: 20px;
		height: 3.5rem;
		width: 25rem;
		margin-top: 10px;
		background-color: #fff;
		border-color: #f26a2e;
		text-align: center;
	}

	.note-searchbar {
		text-align: center;
	}

	input[type="search"]:focus {
		width: 25rem;
		border-radius: 20px;
		background-color: black;
		border-color: black;
		box-shadow: 3px 3px 7px black;
		font-size: medium;
		outline: none;
	}
}
