input[type="text"] {
	display: block;
	border-radius: 20px;
	height: 3.5rem;
	width: 10rem;
	margin-top: 10px;
	box-shadow: 3px 3px 7px black;
	background-color: black;
	border-color: #f26a2e;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	text-align: center;
	font-size: medium;
	transition: 0.3s !important;
	color: white;
}

::placeholder {
	color: #fff;
}

input[type="text"]:focus {
	width: 50rem;
	border-radius: 20px;
	background-color: white;
	border-color: white;
	text-align: left;
	padding-left: 20px;
	box-shadow: 3px 3px 7px black;
	font-size: medium;
	outline: none;
	color: black;
}

input:hover {
	background: #f26a2e;
	transform: translateY(-2px);
}
@media screen and (max-width: 960px) {
	input[type="text"] {
		display: block;
		border-radius: 20px;
		height: 3.7rem;
		width: 9rem;
		margin-top: 10px;
		background-color: black;
		border-color: #f26a2e;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		text-align: center;
	}

	input[type="text"]:focus {
		width: 35rem;
		border-radius: 20px;
		background-color: white;
		border-color: white;
		text-align: left;
		box-shadow: 3px 3px 7px black;
		font-size: medium;
		outline: none;
	}
}

@media screen and (max-width: 768px) {
	input[type="text"] {
		display: block;
		border-radius: 20px;
		height: 3.5rem;
		width: 8rem;
		margin-top: 10px;
		background-color: black;
		border-color: #f26a2e;

		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		text-align: center;
	}

	input[type="text"]:focus {
		width: 25rem;
		border-radius: 20px;
		background-color: white;
		border-color: white;
		text-align: left;
		box-shadow: 3px 3px 7px black;
		font-size: medium;
		outline: none;
	}
}
