.sidebar-container {
	height: 100rem;
	width: 14rem;
	background-color: black;
	color: #fff;
	float: left;
}
.container {
	display: block;
	position: relative;

	padding-left: 35px;
	margin-top: 1px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	width: 12px;
	background-color: #eee;
	margin-left: 5px;
	border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	box-shadow: 6px 8px 28px rgba(218, 112, 63, 0.541),
		4px 5px 12px rgba(218, 112, 63, 0.541);
	background: #f26a2e;
	transform: translateY(-1px);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #f26a2e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 2.8px;
	width: 3px;
	height: 6px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sidebar-font {
	font-size: small;
}

.sidebar-font:hover {
	border-bottom: 1px solid #f26a2e;
	transition: all 0s;
}

.filter-title-button {
	display: flex;
	border-bottom: 1px solid #fff;
	margin-bottom: 6px;
	padding-bottom: 3px;
}
.filter-name {
	flex-grow: 1;
	margin-left: 2px;
}

.filter-clear {
	background-color: black;
	border: 2px solid #f26a2e;
	border-radius: 20px;
	color: #fff;
	padding: 4px;
	margin-bottom: 2px;
	margin-right: 3px;
	white-space: nowrap;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s !important;
}

.filter-clear:hover {
	background: #f26a2e;
}

.sidebar-category-title {
	border-bottom: 1px solid #fff;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.sidebar-searchbar {
	border-radius: 20px;
	margin-top: 0.4rem;
	width: 100%;
	height: 1.8rem;
	text-align: left;
	padding-left: 6px;
	outline: none;
}

.sidebar-searchbar:hover {
	background-color: white;
	transform: translateY(0px);
}
